* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: darkgrey;
  color: rgb(230, 237, 243);
  position: relative;
}
/* Navbar style starts here */
.navbar {
  display: flex;
  height: 3rem;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 17, 23);
  padding: 1rem;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 2;
  font-size: 1rem;
}
/* Logo syle*/
@keyframes logo {
  0% {
    text-shadow: 1px 1px 3px darkgray;
  }
  50% {
    text-shadow: 2px 2px 4px darkgray;
  }
  100% {
    text-shadow: 3px 3px 5px darkgray;
  }
}
.logo {
  font-family: "Tektur", cursive;
  font-size: 1.5em;
  animation: logo 3s ease-in-out infinite;
}
/* Links style */
.links {
  text-decoration: none;
  color: rgb(230, 237, 243);
  padding: 5px;
  transition: all 0.25s;
}

.links:hover {
  background-color: rgb(230, 237, 243);
  color: rgb(12, 17, 23);
  border-radius: 12px;
}

#bars {
  font-weight: 600;
  height: 1em;
  width: 1em;
  cursor: pointer;
  display: none;
}


/* Main section starts here */
.container {
  min-height: 60rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* swiper style here */
.swiper {
  width: 100vw;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 400px;
}

/* game section starts here */
.game-text {
  height: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
  font-family: Bebas, Ariel;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  text-shadow: 2px 2px 5px black;
}

.games {
  height: 44rem;
  width: 100vw;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  padding-top: 10px;
  padding-left: 1em;
  justify-content: center;
}

.child {
  height: 200px;
  max-width: 170px;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.child:hover {
  box-shadow: 2px 2px 5px black;
}

.img {
  height: 200px;
  width: 170px;
}

/*  Hidden starts here */
.hidden {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba (255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  box-shadow: 5px 5px 5px black;
  min-height: 19rem;
  width: 25rem;
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 2;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hidden img {
  height: 17rem;
  width: 45%;
}

.info {
  height: 17rem;
  width: 11rem;
  font-family: Bebas, Ariel;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gameName {
  font-size: 20px;
  padding: 5px;
}

.price {
  font-size: 15px;
  padding: 5px;
}

.details {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0.4rem;
}

.btn {
  color: rgb(230, 237, 243);
  width: 40px;
  height: 24px;
  background-color: rgb(12, 17, 23);
  border: none;
  text-align: center;
  border-radius: 7px;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.btn-add {
  color: rgb(230, 237, 243);
  width: 80px;
  height: 24px;
  background-color: rgba(12, 17, 23);
  border: none;
  text-align: center;
  border-radius: 7px;
}

.btn:hover,
.btn-add:hover {
  background-color: rgba(230, 237, 243, 0.4);
  color: rgb(12, 17, 23);
}

footer {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  font-family: Bebas, Ariel;
  background-color: rgb(12, 17, 23);
  font-size: 1rem;
}

footer h6 {
  font-size: 1.2em;
  padding: 10px;
  line-height: 24px;
  text-shadow: 2px 2px 5px gray;
  width: 40%;
}

.contact {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.contact h4 {
  font-size: 1.3em;
  padding: 10px;
  font-weight: 600;
}

.contact-link {
  font-size: 2em;
  text-decoration: none;
  color: rgb(230, 237, 243);
  padding: 10px;
}

  /* Media queries */

 /* Responsive navbar */
  @media (max-width:370px) {
    .logo {
      font-size: 1em;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
        backdrop-filter: blur(1.5rem);
        width: 100vw;
        min-height: 100px;
        z-index: 3;
        position: fixed;
        top: 3rem;
        left: 0;
        display: none;
        transition: all 0.15s;
    }

    .links {
      color: rgb(12, 17, 23);
    }

    .nav-links:hover {
        box-shadow: 2px 2px 5px black;
    }

    .links:hover {
        box-shadow: 2px 2px 5px black;
        border-bottom: 1px solid black;
        border-radius: 0px;
    }

    #bars {
        display: block;
        z-index: 4;
        cursor: pointer;
    }

    /* responsive swiper */
    .swiper {
      height: 200px;
    }
    .swiper-slide img {
      height: 200px;
    }
}

  /* Responsive footer */

@media (max-width:812px) {
   
  footer {
    font-size: 0.7rem;
  }
  footer h6 {
    width: 55%;
  }
}

@media (max-width:487px) {
 
  footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  footer h6 {
    height: 50%;
    width: 100vw;
  }
  .contact {
    width: 100vw;
    height: 50%;
  }
  /* responsive swiper */
  .swiper {
    height: 250px;
  }
  .swiper-slide img {
    height: 250px;
  }
}

 /* Responsive swiper */
 @media (max-width:580px) {
  /* responsive swiper */
  .swiper {
    height: 320px;
  }
  .swiper-slide img {
    height: 320px;
  }
 }