* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: darkgrey;
    color: rgb(230, 237, 243);
}
        /* Navbar style starts here */
.navbar {
    display: flex;
    height: 80px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12,17,23);
    padding: 1rem;
}
        /* Logo syle*/
@keyframes logo {
    0% {text-shadow: 1px 1px 3px darkgray;}
    50% {text-shadow: 2px 2px 4px darkgray;}
    100% {text-shadow: 3px 3px 5px darkgray;}
}
.logo {
    font-family: 'Tektur', cursive;
    font-size: 1.5rem;
    animation: logo 3s ease-in-out  infinite;  
}
        /* Links style */
.links {
    text-decoration: none;
    color: rgb(230, 237, 243);
    padding: 5px;
    transition: all 0.25s;
}

.links:hover {
    background-color: rgb(230, 237, 243);
    color: rgb(12,17,23);
    border-radius: 12px;
}
        /* Main section starts here */