* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: darkgrey;
    color: rgb(230, 237, 243);
    position: relative;
}
        /* Navbar style starts here */
.navbar {
    display: flex;
    height: 80px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12,17,23);
    padding: 1rem;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 2;
}
        /* Logo syle*/
@keyframes logo {
    0% {text-shadow: 1px 1px 3px darkgray;}
    50% {text-shadow: 2px 2px 4px darkgray;}
    100% {text-shadow: 3px 3px 5px darkgray;}
}
.logo {
    font-family: 'Tektur', cursive;
    font-size: 1.5rem;
    animation: logo 3s ease-in-out  infinite;  
}
        /* Links style */
.links {
    text-decoration: none;
    color: rgb(230, 237, 243);
    padding: 5px;
    transition: all 0.25s;
}

.links:hover {
    background-color: rgb(230, 237, 243);
    color: rgb(12,17,23);
    border-radius: 12px;
}
        /* Main section starts here */
.container {
    height: 100vh;
    width: 100vw;
}

/* swiper style here */
.swiper {
    width: 100vw;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100vw;
    height: 400px;

}

    /* game section starts here */

.games {
    margin: 20px 10px;
    padding: 10px 5px;
    height: 100vh;
    width: 100vw;
    display: grid;
    gap: 1.3rem;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
}

.child {
    height: 200px;
    width: 170px;
    transition: box-shadow 0.15s;
}

.child:hover {
    box-shadow: 2px 2px 5px black;
}

.img {
    height: inherit;
    width: inherit; 
}

    /*  Hidden starts here */
.hidden {
    background-color: red;
    height: 50vh;
    width: 50vw;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 2;
    visibility: hidden;
    display: flex;
    
}

.hidden img {
    height: 90%;
    width: 45%;
    position: absolute;
    top: 10px;
    left: 10px;
}